*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.clear-fix:after{
  content: "";
  clear: both;
}
.hand:hover{
	cursor: pointer;
	color: lightpink;
}
.colorchange:hover{
	color: lightpink;
}
.wrapper{
	width: 100%;
	height: 1000px;
	margin: 0 auto;
}
.wrapper-in{
	width: 1600px;
	height: 1000px;
	margin: 0 auto;
	display: block;
}
header{
	width: 100%;
	height: 125px;
	background-color:#efefef; 
	border-bottom:2px solid #2487c9;
}
header .logo{
	margin-left: 260px;
	margin-top: 8px;
	vertical-align: top;
	margin-right: 24px;
	cursor: pointer;
}
header .font-big{
	cursor: pointer;
	font-size: 25px;
}
header .orange{
	color: #fb7403;
}
header .dropdown{
    position:relative;
    cursor: pointer;
}
header .dropdown-down{
	color: black;
	position: absolute;
    top: 85px;
    width: 170px;
    height: 380px;
	border:1px solid #fb7403;
	display: none;
	z-index: 99;
	background-color: white;
}
.dropdown:hover .dropdown-down{
	display: block;
}
header .dropdown-down .line{
	box-sizing: border-box;
	border-bottom:1px dotted #666666;
}
header .danse{
	color: #666666;
	margin-right: 80px;
}
header .dropdown-down p{
	font-size: 15px;
	color: #666666; 
	height: 34px;
	width: 140px;
	line-height: 34px;
	margin:0 auto;
	text-align:left;
}
header div,header span{
	display: inline-block;
	height: 125px;
	line-height: 125px;
}
.phone{
	margin-left: 46px;
}
.phone img{
	vertical-align: top;
	height: 20px;
	width: 15px;
	margin-top: 54px;
}
.form{
    margin:0 auto;	
    width: 1300px;
	height: 650px;
}

.form-top div{
	display: inline-block;
}
.form-top .form-top-left{
     font-size: 18px;
}
.form-top .form-top-right{
	font-size: 17px;
	color: #636363;
}
.form .form-body{
	width: 1300px;
	height: 600px;
	border:solid 1px #fb7403;
	border-radius: 5px;
}
.form .form-body .form-header{
    width: 1300px;
    height: 40px;
    line-height: 40px;
    background-color: #fb7403;
    color: white;
    border-radius: 5px;
    text-indent: 14px;
    font-size: 20px;
}
.form-content{
	margin-top: 100px;
}
.form .form-body .form-confirm{
	width: 100%;
	height: 30px;
	line-height: 30px;
	position: relative;
	margin-top: 5px;
}
.star{
	position: absolute;
	left: 320px;
	color:  #fb7403;

}
.form .form-body .form-confirm p{
    position: absolute;
    right:850px;
    display: inline-block;
    font-size: 18px;
}
.form .form-body .form-confirm input,.form .form-body .form-confirm select{
    position: absolute;
    right: 680px;
    top: 5px;
    height: 22px;
    width: 150px;
}
#submit{
	width: 200px;
	height: 40px;
	position: absolute;
	left: 50%; 
 	margin-top: 30px; 
 	margin-left: -100px;
	border-radius: 5px;     
	color: white;
	background-color: #fb7403;
	cursor: pointer; 
}
.form .form-body .form-confirm .present{
	color: red;
	font-size: 14px;
}
.form .form-body .form-confirm .present,.form .form-body .form-confirm .square{
    position:absolute;
    left: 630px;
    display: none; 
}
.form .form-body .form-confirm .square{
	width: 140px;
	height: 24px;
}
.form .form-body .form-confirm .square .single{
   width: 30px;
   height: 10px;
   background-color: #cccccc;
   display: inline-block;
}
.form .form-content .present-1{
	margin-left:465px;
	color: red;
	display: none;
    font-size: 14px;
}
.form .form-body .form-confirm #square{
	right: 810px;
	width: 18px;
	height: 18px;
} 
.form .form-body .form-confirm .regular{
	margin-left: 495px;
}
.form .form-body .form-confirm .regular .regular-blue{
	color: blue;
}
footer{
	width: 100%;
	height: 125px;
	background-color:#efefef; 
	border-top:2px solid #2487c9;
}


footer p{
	text-align: center;
	color: #99a9c2;
	font-size: 16px;
}
footer p:first-of-type{
	margin-top: 30px;
	margin-bottom: 15px;	
}





 